<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>It is during our darkest moments that we must focus to see the light.</key>
	<string>Aristotle Onassis</string>
	<key>You only live once, but if you do it right, once is enough</key>
	<string>Mae West</string>
	<key>Don&apos;t walk behind me; I may not lead. Don&apos;t walk in front of me; I may not follow. Just walk beside me and be my friend</key>
	<string>Albert Camus</string>
	<key>If you tell the truth, you don&apos;t have to remember anything</key>
	<string>Mark Twain</string>
	<key>I believe that everything happens for a reason. People change so that you can learn to let go, things go wrong so that you appreciate them when they&apos;re right, you believe lies so you eventually learn to trust no one but yourself, and sometimes good things fall apart so better things can fall together</key>
	<string>Marilyn Monroe</string>
	<key>Here&apos;s to the crazy ones. The misfits. The rebels. The troublemakers. The round pegs in the square holes. The ones who see things differently. They&apos;re not fond of rules. And they have no respect for the status quo. You can quote them, disagree with them, glorify or vilify them. About the only thing you can&apos;t do is ignore them. Because they change things. They push the human race forward. And while some may see them as the crazy ones, we see genius. Because the people who are crazy enough to think they can change the world, are the ones who do.</key>
	<string>Apple Inc</string>
	<key>We accept the love we think we deserve</key>
	<string>Stephen Chbosky, The Perks of Being a Wallflower</string>
	<key>Life is what happens to you while you&apos;re busy making other plans.</key>
	<string>Allen Saunders</string>
	<key>Whenever you find yourself on the side of the majority, it is time to pause and reflect</key>
	<string>Mark Twain</string>
	<key>I like nonsense, it wakes up the brain cells. Fantasy is a necessary ingredient in living</key>
	<string>Dr. Seuss</string>
	<key>If you can dream it, you can do it.</key>
	<string>Walt Dysney</string>
	<key>The more you like yourself, the less you are like anyone else, which makes you unique.</key>
	<string>Walt Dysney</string>
	<key>You may not realize it when it happens, but a kick in the teeth may be the best thing in the world for you.</key>
	<string>Walt Dysney</string>
	<key>Times and conditions change so rapidly that we must keep our aim constantly focused on the future.</key>
	<string>Walt Dysney</string>
	<key>Learn from yesterday, live for today, hope for tomorrow. The important thing is not to stop questioning.</key>
	<string>Albert Einstein</string>
	<key>You have to learn the rules of the game. And then you have to play better than anyone else.</key>
	<string>Albert Einstein</string>
	<key>The true sign of intelligence is not knowledge but imagination.</key>
	<string>Albert Einstein</string>
	<key>Life is one big road with lots of signs. So when you riding through the ruts, don&apos;t complicate your mind. Flee from hate, mischief and jealousy. Don&apos;t bury your thoughts, put your vision to reality. Wake Up and Live!</key>
	<string>Bob Marley</string>
	<key>Open your eyes, look within. Are you satisfied with the life you&apos;re living?</key>
	<string>Bob Marley</string>
	<key>Nearly all men can stand adversity, but if you want to test a man&apos;s character, give him power.</key>
	<string>Abraham Lincoln</string>
	<key>Better to remain silent and be thought a fool than to speak out and remove all doubt.</key>
	<string>Abraham Lincoln</string>
	<key>In the end, it&apos;s not the years in your life that count. It&apos;s the life in your years.</key>
	<string>Abraham Lincoln</string>
	<key>When I do good, I feel good. When I do bad, I feel bad. That&apos;s my religion.</key>
	<string>Abraham Lincoln</string>
	<key>The truth is you don&apos;t know what is going to happen tomorrow. Life is a crazy ride, and nothing is guaranteed.</key>
	<string>Eminem</string>
	<key>Somewhere deep down there&apos;s a decent man in me, he just can&apos;t be found.</key>
	<string>Eminem</string>
	<key>Dealing with backstabbers, there was one thing I learned. They&apos;re only powerful when you got your back turned.</key>
	<string>Eminem</string>
	<key>To the people I forgot, you weren&apos;t on my mind for some reason and you probably don&apos;t deserve any thanks anyway.</key>
	<string>Eminem</string>
	<key>I&apos;m selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle. But if you can&apos;t handle me at my worst, then you sure as hell don&apos;t deserve me at my best.</key>
	<string>Marilyn Monroe</string>
	<key>Be who you are and say what you feel, because those who mind don&apos;t matter, and those who matter don&apos;t mind</key>
	<string>Bernard M. Baruch</string>
	<key>Be yourself; everyone else is already taken.</key>
	<string>Oscar Wilde</string>
	<key>You know you&apos;re in love when you can&apos;t fall asleep because reality is finally better than your dreams.</key>
	<string>Dr.Seuss</string>
	<key>So many books, so little time.</key>
	<string>Frank Zappa</string>
	<key>Be the change that you wish to see in the world.</key>
	<string>Mahatma Gandhi</string>
	<key>In three words I can sum up everything I&apos;ve learned about life: it goes on</key>
	<string>Robert Frost</string>
	<key>A friend is someone who knows all about you and still loves you</key>
	<string>Elbert Hubbard</string>
	<key>Always forgive your enemies; nothing annoys them so much.</key>
	<string>Oscar Wilde</string>
	<key>I&apos;ve learned that people will forget what you said, people will forget what you did, but people will never forget how you made them feel</key>
	<string>Maya Angelou</string>
	<key>Live as if you were to die tomorrow. Learn as if you were to live forever.</key>
	<string>Mahatma Gandhi</string>
	<key>Insanity is doing the same thing, over and over again, but expecting different results.</key>
	<string>Narcotics Anonymous, Narcotics Anonymous</string>
	<key>Darkness cannot drive out darkness: only light can do that. Hate cannot drive out hate: only love can do that.</key>
	<string>Martin Luther King Jr., A Testament of Hope: The Essential Writings and Speeches</string>
	<key>Twenty years from now you will be more disappointed by the things that you didn&apos;t do than by the ones you did do. So throw off the bowlines. Sail away from the safe harbor. Catch the trade winds in your sails. Explore. Dream. Discover</key>
	<string>H. Jackson Brown Jr., P.S. I Love You</string>
	<key>It is better to be hated for what you are than to be loved for what you are not.</key>
	<string>André Gide, Autumn Leaves</string>
	<key>It is better to remain silent at the risk of being thought a fool, than to talk and remove all doubt of it.</key>
	<string>Maurice Switzer</string>
	<key>A woman is like a tea bag; you never know how strong it is until it&apos;s in hot water.</key>
	<string>Eleanor Roosevelt</string>
	<key>If you don&apos;t stand for something you will fall for anything.</key>
	<string>Gordon A. Eadie</string>
	<key>The man who does not read has no advantage over the man who cannot read.</key>
	<string>Mark Twain</string>
	<key>As he read, I fell in love the way you fall asleep: slowly, and then all at once.</key>
	<string>John Green, The Fault in Our Stars</string>
	<key>I have not failed. I&apos;ve just found 10,000 ways that won&apos;t work.</key>
	<string>Thomas A. Edison</string>
	<key>It is not a lack of love, but a lack of friendship that makes unhappy marriages.</key>
	<string>Friedrich Nietzsche</string>
	<key>A day without sunshine is like, you know, night.</key>
	<string>Steve Martin</string>
	<key>I like nonsense, it wakes up the brain cells. Fantasy is a necessary ingredient in living.</key>
	<string>Dr. Seuss</string>
	<key>That which does not kill us makes us stronger</key>
	<string>Friedrich Nietzsche</string>
	<key>If you judge people, you have no time to love them.</key>
	<string>Mother Teresa</string>
	<key>There is never a time or place for true love. It happens accidentally, in a heartbeat, in a single flashing, throbbing moment</key>
	<string>Sarah Dessen, The Truth About Forever</string>
	<key>Have you ever been in love? Horrible isn&apos;t it? It makes you so vulnerable. It opens your chest and it opens up your heart and it means that someone can get inside you and mess you up.</key>
	<string>Neil Gaiman, The Sandman, Vol. 9: The Kindly Ones</string>
	<key>Fairy tales are more than true: not because they tell us that dragons exist, but because they tell us that dragons can be beaten.</key>
	<string>Neil Gaiman, Coraline</string>
	<key>For every minute you are angry you lose sixty seconds of happiness.</key>
	<string>Ralph Waldo Emerson</string>
	<key>Being deeply loved by someone gives you strength, while loving someone deeply gives you courage.</key>
	<string>Lao Tzu</string>
	<key>Women and cats will do as they please, and men and dogs should relax and get used to the idea.</key>
	<string>Robert A. Heinlein</string>
	<key>If you can&apos;t explain it to a six year old, you don&apos;t understand it yourself.</key>
	<string>Albert Einstein</string>
	<key>I&apos;m not upset that you lied to me, I&apos;m upset that from now on I can&apos;t believe you.</key>
	<string>Friedrich Nietzsche</string>
	<key>Sometimes the questions are complicated and the answers are simple.</key>
	<string>Dr. Seuss</string>
	<key>Today you are You, that is truer than true. There is no one alive who is Youer than You.</key>
	<string>Dr. Seuss, Happy Birthday to You!</string>
	<key>Not all of us can do great things. But we can do small things with great love.</key>
	<string>Mother Teresa</string>
	<key>One good thing about music, when it hits you, you feel no pain.</key>
	<string>Bob Marley</string>
	<key>I am nothing special, of this I am sure. I am a common man with common thoughts and I&apos;ve led a common life. There are no monuments dedicated to me and my name will soon be forgotten, but I&apos;ve loved another with all my heart and soul, and to me, this has always been enough..</key>
	<string>Nicholas Sparks, The Notebook</string>
	<key>Logic will get you from A to Z; imagination will get you everywhere.</key>
	<string>Albert Einstein</string>
	<key>I&apos;m not afraid of death; I just don&apos;t want to be there when it happens.</key>
	<string>Woody Allen</string>
	<key>If you want your children to be intelligent, read them fairy tales. If you want them to be more intelligent, read them more fairy tales.</key>
	<string>Albert Einstein</string>
	<key>Folks are usually about as happy as they make their minds up to be.</key>
	<string>Abraham Lincoln</string>
	<key>The difference between genius and stupidity is; genius has its limits.</key>
	<string>Albert Einstein</string>
	<key>All you need is love. But a little chocolate now and then doesn&apos;t hurt.</key>
	<string>Charles M. Schulz</string>
	<key>Do what you can, with what you have, where you are.</key>
	<string>Theodore Roosevelt</string>
	<key>Love is like the wind, you can&apos;t see it but you can feel it.</key>
	<string>Nicholas Sparks, A Walk to Remember</string>
	<key>I am good, but not an angel. I do sin, but I am not the devil. I am just a small girl in a big world trying to find someone to love.</key>
	<string>Marilyn Monroe</string>
	<key>We’re all a little weird. And life is a little weird. And when we find someone whose weirdness is compatible with ours, we join up with them and fall into mutually satisfying weirdness—and call it love—true love.</key>
	<string>Robert Fulghum, True Love</string>
	<key>Time you enjoy wasting is not wasted time.</key>
	<string>Marthe Troly-Curtin, Phrynette Married</string>
	<key>Who are you to judge the life I live?I know I&apos;m not perfect-and I don&apos;t live to be-but before you start pointing fingers...make sure you hands are clean!</key>
	<string>Bob Marley</string>
	<key>You don&apos;t love someone because they&apos;re perfect, you love them in spite of the fact that they&apos;re not</key>
	<string>Jodi Picoult, My Sister&apos;s Keeper</string>
	<key>Life is like riding a bicycle. To keep your balance, you must keep moving.</key>
	<string>Albert Einstein</string>
	<key>You don&apos;t get to choose if you get hurt in this world...but you do have some say in who hurts you. I like my choices.</key>
	<string>John Green, The Fault in Our Stars</string>
	<key>To the well-organized mind, death is but the next great adventure.</key>
	<string>J.K. Rowling, Harry Potter and the Sorcerer&apos;s Stone</string>
	<key>The trouble with having an open mind, of course, is that people will insist on coming along and trying to put things in it.</key>
	<string>Terry Pratchett, Diggers</string>
	<key>There is nothing I would not do for those who are really my friends. I have no notion of loving people by halves, it is not my nature</key>
	<string> Jane Austen, Northanger Abbey</string>
	<key>Success is not final, failure is not fatal: it is the courage to continue that counts.</key>
	<string>Winston Churchill</string>
	<key>You don’t forget the face of the person who was your last hope.</key>
	<string>Suzanne Collins, The Hunger Games</string>
	<key>The question isn&apos;t who is going to let me; it&apos;s who is going to stop me.</key>
	<string>Ayn Rand</string>
	<key>You may say I&apos;m a dreamer, but I&apos;m not the only one. I hope someday you&apos;ll join us. And the world will live as o</key>
	<string>John Lennon</string>
	<key>I have never let my schooling interfere with my education.</key>
	<string>Mark Twain</string>
	<key>Anyone who has never made a mistake has never tried anything new.</key>
	<string>Albert Einstein</string>
	<key>Some infinities are bigger than other infinities.</key>
	<string>John Green, The Fault in Our Stars</string>
	<key>Things change. And friends leave. Life doesn&apos;t stop for anybody</key>
	<string>Stephen Chbosky, The Perks of Being a Wallflower</string>
	<key>Choose a job you love, and you will never have to work a day in your life.</key>
	<string>Confucius</string>
	<key>Just when you think it can&apos;t get any worse, it can. And just when you think it can&apos;t get any better, it can.</key>
	<string>Nicholas Sparks, At First Sight</string>
	<key>But better to get hurt by the truth than comforted with a lie.</key>
	<string>Khaled Hosseini</string>
	<key>The only way out of the labyrinth of suffering is to forgive</key>
	<string>John Green, Looking for Alaska</string>
	<key>A person&apos;s a person, no matter how small.</key>
	<string>Dr. Seuss, Horton Hears a Who!</string>
	<key>If you&apos;re gonna be two-faced at least make one of them pretty.</key>
	<string>Marilyn Monroe</string>
	<key>The marks humans leave are too often scars.</key>
	<string>John Green, The Fault in Our Stars</string>
	<key>Society, my dear, is like salt water, good to swim in but hard to swallow.</key>
	<string>Arthur Stringer, &quot;The Silver Poppy&quot;</string>
	<key>I don&apos;t believe that if you do good, good things will happen. Everything is completely accidental and random. Sometimes bad things happen to very good people and sometimes good things happen to bad people. But at least if you try to do good things, then you&apos;re spending your time doing something worthwhile.</key>
	<string>Helen Mirren</string>
	<key>I actually think that the most efficacious way of making a difference is to lead by example, and doing random acts of kindness is setting a very good example of how to behave in the world.</key>
	<string>Misha Collins</string>
	<key>Do not dwell in the past, do not dream of the future, concentrate the mind on the present moment.</key>
	<string>Buddha</string>
	<key>If you live long enough, you&apos;ll make mistakes. But if you learn from them, you&apos;ll be a better person. It&apos;s how you handle adversity, not how it affects you. The main thing is never quit, never quit, never quit.</key>
	<string>William J. Clinton</string>
	<key>Life is not a problem to be solved, but a reality to be experienced.</key>
	<string>Soren Kierkegaard</string>
	<key>You&apos;re only here for a short visit. Don&apos;t hurry, don&apos;t worry. And be sure to smell the flowers along the way.</key>
	<string>Walter Hagen</string>
	<key>The only disability in life is a bad attitude.</key>
	<string>Scott Hamilton</string>
	<key>I have found that if you love life, life will love you back.</key>
	<string>Arthur Rubinstein</string>
	<key>A real friend is one who walks in when the rest of the world walks out.</key>
	<string>Walter Winchell</string>
	<key>A true friend freely, advises justly, assists readily, adventures boldly, takes all patiently, defends courageously, and continues a friend unchangeably.</key>
	<string>William Penn</string>
	<key>People grow through experience if they meet life honestly and courageously. This is how character is built.</key>
	<string>Eleanor Roosevelt</string>
	<key>Experience is the teacher of all things</key>
	<string>Julius Caesar</string>
	<key>If money is your hope for independence you will never have it. The only real security that a man will have in this world is a reserve of knowledge, experience, and ability.</key>
	<string>Henry Ford</string>
	<key>The larger the island of knowledge, the longer the shoreline of wonder.</key>
	<string>Ralph W. Sockman</string>
	<key>Of all of our inventions for mass communication, pictures still speak the most universally understood language.</key>
	<string>Walt Dysney</string>
	<key>Speak clearly, if you speak at all; carve every word before you let it fall.</key>
	<string>Oliver Wendell Holmes, Sr.</string>
	<key>The more elaborate our means of communication, the less we communicate.</key>
	<string>Joseph Priestley</string>
	<key>Truthful words are not beautiful; beautiful words are not truthful. Good words are not persuasive; persuasive words are not good.</key>
	<string>Lao Tzu</string>
	<key>Genius is the ability to put into effect what is on your mind.</key>
	<string>F. Scott Fitzgerald</string>
	<key>Coming together is a beginning; keeping together is progress; working together is success.</key>
	<string>Henry Ford</string>
	<key>Always be yourself, express yourself, have faith in yourself, do not go out and look for a successful personality and duplicate it.</key>
	<string>Bruce Lee</string>
	<key>I don&apos;t measure a man&apos;s success by how high he climbs but how high he bounces when he hits bottom.</key>
	<string>George S. Patton</string>
	<key>Success is to be measured not so much by the position that one has reached in life as by the obstacles which he has overcome.</key>
	<string>Booker T. Washington</string>
	<key>Leadership - leadership is about taking responsibility, not making excuses.</key>
	<string>Mitt Romney</string>
	<key>Why do they call it rush hour when nothing moves?</key>
	<string>Robin Williams</string>
	<key>I can&apos;t change the direction of the wind, but I can adjust my sails to always reach my destination.</key>
	<string>Jimmy Dean</string>
	<key>Everyone here has the sense that right now is one of those moments when we are influencing the future.</key>
	<string>Steve Jobs</string>
	<key>Don&apos;t limit yourself. Many people limit themselves to what they think they can do. You can go as far as your mind lets you. What you believe, remember, you can achieve.</key>
	<string>Mary Kay Ash</string>
	<key>When the sun is shining I can do anything; no mountain is too high, no trouble too difficult to overcome.</key>
	<string>Wilma Rudolph</string>
	<key>Someone is sitting in the shade today because someone planted a tree a long time ago.</key>
	<string>Warren Buffett</string>
	<key>If opportunity doesn&apos;t knock, build a door.</key>
	<string>Milton Berle</string>
	<key>You must do the things you think you cannot do.</key>
	<string>Eleanor Roosevelt</string>
	<key>Whoever is happy will make others happy too.</key>
	<string>Anne Frank</string>
	<key>The power of imagination makes us infinite.</key>
	<string>John Muir</string>
	<key>A dream is your creative vision for your life in the future. You must break out of your current comfort zone and become comfortable with the unfamiliar and the unknown.</key>
	<string>Denis Waitley</string>
</dict>
</plist>
