<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aberrant</key>
	<string>deviating from the proper course.</string>
	<key>bliss</key>
	<string>1. extreme happiness; ecstasy. 2. the ecstasy of salvation; spiritual joy</string>
	<key>cherish</key>
	<string>1. to treat with affection and tenderness; hold dear. 2. to keep fondly in</string>
	<key>cicatrix</key>
	<string>a scar left by the formation of new connective tissue over a healing sore</string>
	<key>clandestine</key>
	<string>done in secret; needing to be concealed</string>
	<key>dearth</key>
	<string>1. a scarce supply; an inadequate amount. 2. a shortage of food; a famine</string>
	<key>defenestrate</key>
	<string>to throw out of a window</string>
	<key>dicephalous</key>
	<string>having two heads.</string>
	<key>dystopia</key>
	<string>1. an imaginary place or state in which the condition of life is extremely bad, as from deprivation, oppression, or terror. 2. a work describing such a place or state.</string>
	<key>effusive</key>
	<string>1. unrestrained or excessive in emotional expression. 2. profuse;</string>
	<key>fastidious</key>
	<string>1. possessing or displaying careful, meticulous attention to detail. 2. difficult to please; exacting. 3. excessively scrupulous or sensitive, especially in matters of taste or propriety.</string>
	<key>gallivant</key>
	<string>to roam about in search of pleasure or amusement</string>
	<key>glisten</key>
	<string>to shine by reflection with a sparkling luster.

Doesn&apos;t the word just shine when you say it?</string>
	<key>humility</key>
	<string>the quality or condition of being humble; modest opinion or estimate of one&apos;s own importance, rank, etc.</string>
	<key>mooncalf</key>
	<string>1. a fool. 2. a freak.</string>
	<key>nebulous</key>
	<string>1. cloudy, misty, or hazy. 2. lacking definite form or limits; vague. 3. of, relating to, or characteristic of a nebula.</string>
	<key>penultimate</key>
	<string>next to last.</string>
	<key>pilgarlic</key>
	<string>a bald-headed man.</string>
	<key>reticulate</key>
	<string>resembling or forming a net or network</string>
	<key>simplicity</key>
	<string>1. the property, condition, or quality of being simple or uncombined. 2. absence of luxury or showiness; plainness. 3. absence of affectation or pretense</string>
	<key>thew</key>
	<string>1. a well-developed sinew or muscle. 2. muscular power or strength.</string>
	<key>tittle</key>
	<string>. a small diacritic mark, such as an accent over an e or dot over an i. 2. a tiny amount; a jot or whit.</string>
	<key>ubiquitous</key>
	<string>being or seeming to be everywhere at the same time; omnipresent.</string>
	<key>valedictorian</key>
	<string>the student with the highest academic rank in a class who delivers the valedictory at graduation</string>
	<key>Zeitgeist</key>
	<string>the spirit of the time; the taste and outlook characteristic of a period or generation</string>
	<key>poltroon</key>
	<string>a contemptible coward</string>
	<key>nugatory</key>
	<string>1. of little or no importance; trifling. 2. having no force; invalid.</string>
	<key>myriad</key>
	<string>a vast number; originally, ten thousand</string>
	<key>mendacity</key>
	<string>a lie; falsehood.</string>
	<key>loquacious</key>
	<string>very talkative; garrulous</string>
	<key>libertine</key>
	<string>1. one who acts without moral restraint; a dissolute person. 2. one who defies established religious precepts; a freethinker.</string>
	<key>lethologica</key>
	<string>1. the inability to remember the right word. 2. a psychological disorder that inhibits an individual&apos;s ability to articulate thoughts by temporarily forgetting key words, phrases, or names in conversation.</string>
	<key>tangible</key>
	<string>perceptible by the senses especially the sense of touch</string>
	<key>optimistically</key>
	<string>with optimism; in an optimistic manner</string>
	<key>quixotic</key>
	<string>not sensible about practical matters; idealistic and unrealisti</string>
	<key>irony</key>
	<string>incongruity between what might be expected and what actually occurs</string>
	<key>karma</key>
	<string>(Hinduism and Buddhism) the effects of a person&apos;s actions that determine his destiny in his next incarnation</string>
	<key>fortitude</key>
	<string>strength of mind that enables one to endure adversity with courage</string>
	<key>fervent</key>
	<string>characterized by intense emotion</string>
	<key>disposition</key>
	<string>your usual mood</string>
	<key>bypass</key>
	<string>avoid something unpleasant or laborious</string>
	<key>zenith</key>
	<string>the point above the observer that is directly opposite the nadir on the imaginary sphere against which celestial bodies appear to be projected</string>
	<key>brazen
brazen
brazen</key>
	<string>excessively bold, brash, clear and obvious</string>
	<key>coherent</key>
	<string>ogically consistent, intelligible</string>
	<key>debase</key>
	<string>to lower the quality or esteem of something</string>
	<key>impeccable</key>
	<string>exemplary, flawless</string>
	<key>abhor</key>
	<string>to hate, detest</string>
	<key>chide</key>
	<string>to voice disapproval</string>
	<key>connive</key>
	<string>to plot, scheme</string>
	<key>diligent</key>
	<string>showing care in doing one’s work</string>
</dict>
</plist>
